<h2>{{t "t.hello"}} {{> user-name }},</h2>
<p>
  {{t "forgotPassword.resetRequest"}} <a href="{{resetUrl}}">{{t "forgotPassword.changePassword"}}</a>
</p>
<p>
  {{t "forgotPassword.ignoreRequest"}}
</p>
{{> simple-footer }}
